body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

/* Hero Section */
.hero-section {
  background:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("https://raw.githubusercontent.com/shirinmohajeri/Bootstrap/refs/heads/main/b3bf1a50ac1a3d60af3d4528fb1642a9.jpg");

  background-size: cover;
  background-position: center;
  padding: 120px 0;
}

/* Navbar */
.navbar-brand {
  font-size: 1.5rem;
}

/* Cards */
.card {
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.card-img-top {
  height: 230px;
  object-fit: cover;
}

/* Footer */
footer {
  margin-top: 30px;
}